body{
    box-sizing: border-box;
    border: 2px solid #f4daff;
    background-image: linear-gradient(#e2fbed , #f4daff);
    margin: 0;
        min-height: 180px;
        padding: 0;
        width: 384px;

}
#nav{
display: flex;
padding: 3%;
padding-left: 30px;
/* background-image:linear-gradient(#e2fbed,#f4daff); */
background-image: linear-gradient(#f4daff,#e2fbed );
}

#eye{
    font-weight: bold;
    font-size: 30px;
    color: #007544;
}

.logo{
 font-size: 40px;
 color: rgb(160, 80, 160);
 font-weight: bolder;
}
.switch {
    position: relative;
    /* display: inline-block; */
    width: 40px;
    height: 20px;
    float: right;
    /* clear: left; */
    clear:both;
    /* display: flex; */
    /* align-items: c; */
    /* justify-content: center; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e8befa;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #9df7c4 ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .optmin div p{
      /* float: left; */
      clear: right;
      /* clear: both; */
      display: inline;
      /* display: inline-flex; */
      /* justify-content: center; */
      font-size: 19px;
      font-family: 'PT Serif', serif;
  }
  .optmin div{
      margin: 8%;
  }
  .optmin{
    clear:right;
    display: inline;
    /* margin: 8%; */
  }

  .optdiv{
    margin-right: 8%;
    /* margin-bottom: 8%; */
    /* justify-content: center; */
    /* align-items: center; */
    clear: both;
    float: right;
  }



  #countdown {
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: rgb(109, 189, 255);
    display: inline-block;
    line-height: 40px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: rgb(255, 162, 162);
    fill: none;
    animation: countdown 10s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
  .options h1{
      margin-top: 7px;
      margin-bottom: 9px;
      margin-left: 10px;
      font-family: 'Oswald', sans-serif;
  }
  hr{
      width: 90%;
      margin-top: 40px;
      border: 1px solid #9336bb;
      border-radius: 25%;
      opacity: 0.6;
      margin-bottom: 40px;
  }